.note-preview{
    border-radius: 5px;
    background-color: transparent;
    box-shadow: #00000061 0px 0px 0px 1px;
    font-size: .875rem;
}

.note-preview:hover{
    box-shadow: #00000061 0 0 6px 1px;
}
.note-preview-content>*:not(.note-controls){
    padding-top: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: wrap;
}

.note-preview>:first-child{
    height: 100%;
    font-family: roboto;
    /* text-overflow: ellipsis; */
}
